body {
  font-family: sans-serif;
  color: #444;
}
.app {
  max-width: 16rem;
}
.row {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
}
.col {
  border: 1px solid #ebebeb;
  width: 3rem;
  height: 3rem;
  font-size: 2rem;
  line-height: 3.5rem;
  text-align: center;
}
.col[data-value="0"]:hover {
  background: #eee;
  cursor: pointer;
}
.next {
  margin-top: 1em;
  justify-content: flex-start;
}
.next :last-child {
  position: relative;
  background: lightyellow;
  transition: all 0.2s ease;
  opacity: 1;
}
.next :last-child:after {
  content: "Next";
  text-transform: uppercase;
  font-weight: bold;
  position: absolute;
  top: -0.25rem;
  right: -0.75rem;
  font-size: 0.6rem;
}

[data-hover-next]:after {
  content: attr(data-hover-next);
  opacity: 0.25;
}
